In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt
from citipy import citipy
wkey = "2d7bc754b1f208baf1d97b9f731cceb6"
url = "https://openweathermap.org/api"
from citipy import citipy
import geoip2.webservice

In [30]:
city = citipy.nearest_city(36.84682, -76.28506)

In [31]:
city

In [32]:
city.city_name

'norfolk'

In [54]:
cl = pd.read_csv("C:/Users/write/Ur_APIHW/Weather Py/CityList.csv")
cl["Max Temp"] = ""
cl["Humidity"] = ""
cl["Cloudiness"] = ""
cl["Wind Speed"] = ""
cl["Date"] = ""
cl.columns

Index(['ID', 'City Name', 'Column4', 'Latitude', 'Longitude', 'Column7',
       'Column8', 'Column9', 'Contient/Country', 'Ascertain Date', 'Max Temp',
       'Humidity', 'Cloudiness', 'Wind Speed', 'Date'],
      dtype='object')

In [56]:
clc = cl[["ID", "City Name", "Latitude", "Longitude", "Contient/Country", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]]

In [57]:
clc.head()

,ID,City Name,Latitude,Longitude,Contient/Country,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,3038999,Soldeu,42.57688,1.66769,Europe/Andorra,,,,,
1,3039154,El Tarter,42.57952,1.65362,Europe/Andorra,,,,,
2,3039163,Sant Julià de Lòria,42.46372,1.49129,Europe/Andorra,,,,,
3,3039604,Pas de la Casa,42.54277,1.73361,Europe/Andorra,,,,,
4,3039678,Ordino,42.55623,1.53319,Europe/Andorra,,,,,