In [48]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
from ratelimit import limits
import requests
api_key = "2d7bc754b1f208baf1d97b9f731cceb6"

In [49]:
cl = pd.read_csv("C:/Users/write/Ur_APIHW/Weather Py/CityList.csv")
cl.dropna(inplace = True)
cl

,ID,City Name,Latitude,Longitude,Contient/Country,Ascertain Date
0,4724892,Saint Hedwig,29.41440,-98.20001,America/Chicago,5/14/2011
1,4724966,Saint Jo,33.69483,-97.52252,America/Chicago,5/14/2011
2,4725484,Saint Paul,33.04123,-96.55027,America/Chicago,5/14/2011
3,4725486,Saint Paul,28.09946,-97.55583,America/Chicago,5/14/2011
4,4725807,Salado,30.94713,-97.53862,America/Chicago,3/9/2017
...,...,...,...,...,...,...
525,4778945,Pimmit Hills,38.91289,-77.20081,America/New_York,5/14/2011
526,4779923,Poquoson,37.12237,-76.34578,America/New_York,3/9/2017
527,4779999,Portsmouth,36.83543,-76.29827,America/New_York,3/9/2017
528,4780011,Portsmouth Heights,36.82098,-76.36883,America/New_York,1/17/2006
529,4780087,Potomac Mills,38.64595,-77.29415,America/New_York,7/1/2020

In [50]:
cl["Max Temp"] = ""
cl["Humidity"] = ""
cl["Cloudiness"] = ""
cl["Wind Speed"] = ""
cl["Date"] = ""
cl.columns

Index(['ID', 'City Name', 'Latitude', 'Longitude', 'Contient/Country',
       'Ascertain Date', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed',
       'Date'],
      dtype='object')

In [33]:
#clc = cl[["ID", "City Name", "Latitude", "Longitude", "Contient/Country", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]]

In [43]:
url = "http://api.openweathermap.org/data/2.5/weather?"

units = "imperial"

city = cl["City Name"][0]

query_url = f"{url}appid={api_key}&units={units}&q={city}"

weather_response = requests.get(query_url)
weather_json = weather_response.json()

# Get the temperature from the response
print(f"The weather API responded with: {weather_json}.")

The weather API responded with: {'cod': 429, 'message': 'Your account is temporary blocked due to exceeding of requests limitation of your subscription type. Please choose the proper subscription http://openweathermap.org/price'}.

In [16]:
params = {"key": api_key}

for index, row in clc.iterrows():
    query_url
    city = row['City Name']
    cc = row['Contient/Country']

    # update address key value
    params['address'] = f"{city},{cc}"

    # make request
    clc_response = requests.get(query_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    clc_weather = clc_response.json()

    clc.loc[index, "Max Temp"] = clc_weather["coord"]["main"]["temp_max"]
    #cities_pd.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
clc.head()

KeyError: 'coordinates'

,ID,City Name,Column4,Latitude,Longitude,Column7,Column8,Column9,Contient/Country,Ascertain Date,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,3038999,Soldeu,NaN,42.57688,1.66769,P,PPL,AD,Europe/Andorra,11/6/2017,,,,,
1,3039154,El Tarter,"Ehl Tarter,Эл Тартер",42.57952,1.65362,P,PPL,AD,Europe/Andorra,11/3/2012,,,,,
2,3039163,Sant Julià de Lòria,"San Julia,San Julià,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,Europe/Andorra,11/23/2013,,,,,
3,3039604,Pas de la Casa,"Pas de la Kasa,Пас де ла Каса",42.54277,1.73361,P,PPL,AD,Europe/Andorra,6/9/2008,,,,,
4,3039678,Ordino,"Ordino,ao er di nuo,orudino jiao qu,Ордино,オルデ...",42.55623,1.53319,P,PPLA,AD,Europe/Andorra,10/26/2018,,,,,