In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt
from citipy import citipy
wkey = "2d7bc754b1f208baf1d97b9f731cceb6"
url = "https://openweathermap.org/api"
from citipy import citipy
import geoip2.webservice

In [30]:
city = citipy.nearest_city(36.84682, -76.28506)

In [31]:
city

In [32]:
city.city_name

'norfolk'

In [51]:
cl = pd.read_csv("C:/Users/write/Ur_APIHW/Weather Py/CityList.csv")
cl["Weather"] = ""
cl.columns

Index(['ID', 'City Name', 'Column4', 'Latitude', 'Longitude', 'Column7',
       'Column8', 'Column9', 'Contient/Country', 'Ascertain Date', 'Weather'],
      dtype='object')

In [52]:
clc = cl[["ID", "City Name", "Latitude", "Longitude", "Contient/Country", "Weather"]]

In [53]:
clc.head()

        ID            City Name  Latitude  Longitude Contient/Country Weather
0  3038999               Soldeu  42.57688    1.66769   Europe/Andorra
1  3039154            El Tarter  42.57952    1.65362   Europe/Andorra
2  3039163  Sant Julià de Lòria  42.46372    1.49129   Europe/Andorra
3  3039604       Pas de la Casa  42.54277    1.73361   Europe/Andorra
4  3039678               Ordino  42.55623    1.53319   Europe/Andorra

C:\Users\write\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.