In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
from ratelimit import limits
import requests
api_key = "2d7bc754b1f208baf1d97b9f731cceb6"

In [6]:
cl = pd.read_csv("C:/Users/write/Ur_APIHW/Weather Py/CityList.csv")
#drop na values
cl.dropna(inplace = True)
cl

          ID           City Name  Latitude  Longitude        Country
0    4724892        Saint Hedwig  29.41440  -98.20001  United States
1    4724966            Saint Jo  33.69483  -97.52252  United States
2    4725484          Saint Paul  33.04123  -96.55027  United States
3    4725486          Saint Paul  28.09946  -97.55583  United States
4    4725807              Salado  30.94713  -97.53862  United States
..       ...                 ...       ...        ...            ...
525  4778945        Pimmit Hills  38.91289  -77.20081  United States
526  4779923            Poquoson  37.12237  -76.34578  United States
527  4779999          Portsmouth  36.83543  -76.29827  United States
528  4780011  Portsmouth Heights  36.82098  -76.36883  United States
529  4780087       Potomac Mills  38.64595  -77.29415  United States

[530 rows x 5 columns]

In [7]:
#add new columns
cl["Max Temp"] = ""
cl["Humidity"] = ""
cl["Cloudiness"] = ""
cl["Wind Speed"] = ""
cl["Date"] = ""
cl.columns

Index(['ID', 'City Name', 'Latitude', 'Longitude', 'Country', 'Max Temp',
       'Humidity', 'Cloudiness', 'Wind Speed', 'Date'],
      dtype='object')

In [8]:
#clc = cl[["ID", "City Name", "Latitude", "Longitude", "Contient/Country", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Date"]]

In [9]:
#test for api
url = "http://api.openweathermap.org/data/2.5/weather?"

units = "imperial"

city = cl["City Name"][0]

query_url = f"{url}appid={api_key}&units={units}&q={city}"

weather_response = requests.get(query_url)
weather_json = weather_response.json()

# Get the temperature from the response
print(f"The weather API responded with: {weather_json}.")

The weather API responded with: {'coord': {'lon': -98.2, 'lat': 29.41}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 69.17, 'feels_like': 71.29, 'temp_min': 68, 'temp_max': 70, 'pressure': 1014, 'humidity': 83}, 'visibility': 10000, 'wind': {'speed': 4.7, 'deg': 10}, 'clouds': {'all': 1}, 'dt': 1600917396, 'sys': {'type': 1, 'id': 5685, 'country': 'US', 'sunrise': 1600863718, 'sunset': 1600907279}, 'timezone': -18000, 'id': 4724892, 'name': 'Saint Hedwig', 'cod': 200}.

In [10]:
params = {"key": api_key}

url = "http://api.openweathermap.org/data/2.5/weather?"

units = "imperial"

In [15]:
Two_Minutes = 120

limits(calls=60, period=Two_Minutes)
def call_api(url):
    response = requests.get(query_url)
    
   
    for index, row in cl.iterrows():
    
        city = row['City Name']
        cc = row['Country']
    
        query_url = f"{url}appid={api_key}&units={units}&q={city}"

        # update address key value
        params['address'] = f"{city},{cc}"

        # make request
        clc_response = requests.get(query_url)
    
    
        # convert to json
        clc_weather = clc_response.json()  

        cl.loc[index, 'Max Temp'] = clc_weather['main']['temp_max']
        #cities_pd.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]
    
    if response.status_code != 200:
        raise Exception('API response: {}'.format(response.status_code))
    return response


# Visualize to confirm lat lng appear
#cl.head()
clc_weather

NameError: name 'clc_weather' is not defined

In [7]:
print(clc_weather)

{'coord': {'lon': -77.29, 'lat': 38.65}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 64.18, 'feels_like': 64.44, 'temp_min': 62.01, 'temp_max': 66.2, 'pressure': 1015, 'humidity': 77}, 'visibility': 10000, 'wind': {'speed': 3.36, 'deg': 260}, 'clouds': {'all': 1}, 'dt': 1600907080, 'sys': {'type': 1, 'id': 5134, 'country': 'US', 'sunrise': 1600858690, 'sunset': 1600902272}, 'timezone': -14400, 'id': 4780087, 'name': 'Potomac Mills', 'cod': 200}