# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyCTsCTi61igDRS4-NP7rBSNQTuKb5jDq9Y"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
cdata = pd.read_csv(r"C:\Users\write\Ur_APIHW\output_data\output_data.csv")
cdata.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,"alakurtti,ru",66.9672,30.3491,19.24,97,99,2.53,RU,1611619074
1,1,"chuy,uy",-33.6971,-53.4616,74.01,85,3,10.38,UY,1611619075
2,2,"naze,jp",28.3667,129.4833,66.20,82,75,9.22,JP,1611619075
3,3,"hithadhoo,mv",-0.6000,73.0833,81.23,73,91,2.93,MV,1611618893
4,4,"san patricio,mx",19.2167,-104.7000,78.80,78,40,17.27,MX,1611619075

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [28]:
gmaps.configure(g_key)

In [19]:
locations = cdata[["Lat", "Lng"]]
humidity = cdata["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
clcity = cdata.loc[(cdata["Max Temp"] < 82) & (cdata["Max Temp"] > 65) & (cdata["Wind Speed"] < 7) & (cdata["Cloudiness"] == 0)].dropna()
clcity

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,16,"salalah,om",17.0151,54.0924,69.80,46,0,5.75,OM,1611619076
72,72,"graaff-reinet,za",-32.2522,24.5308,69.01,72,0,1.66,ZA,1611619080
227,227,"salalah,om",17.0151,54.0924,69.80,46,0,5.75,OM,1611619076
368,368,"plettenberg bay,za",-34.0527,23.3716,67.84,75,0,2.57,ZA,1611619105
392,392,"masingbi,sl",8.7833,-11.9500,70.79,81,0,0.74,SL,1611619107
733,733,"takoradi,gh",4.8845,-1.7554,78.40,81,0,5.75,GH,1611619133
770,770,"salalah,om",17.0151,54.0924,69.80,46,0,5.75,OM,1611619076
798,798,"siguiri,gn",11.6667,-9.5000,69.17,21,0,2.30,GN,1611619138
858,858,"saint-louis,sn",16.3333,-15.0000,73.40,25,0,2.30,SN,1611619143
1241,1241,"salalah,om",17.0151,54.0924,69.80,46,0,5.75,OM,1611619076

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotel_df = clcity[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                    City Country      Lat      Lng Hotel Name
16            salalah,om      OM  17.0151  54.0924
72      graaff-reinet,za      ZA -32.2522  24.5308
227           salalah,om      OM  17.0151  54.0924
368   plettenberg bay,za      ZA -34.0527  23.3716
392          masingbi,sl      SL   8.7833 -11.9500
733          takoradi,gh      GH   4.8845  -1.7554
770           salalah,om      OM  17.0151  54.0924
798           siguiri,gn      GN  11.6667  -9.5000
858       saint-louis,sn      SN  16.3333 -15.0000
1241          salalah,om      OM  17.0151  54.0924

In [29]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

                    City Country      Lat      Lng                  Hotel Name
16            salalah,om      OM  17.0151  54.0924  HAMDAN PLAZA HOTEL SALALAH
72      graaff-reinet,za      ZA -32.2522  24.5308             Rietjiesbos B&B
227           salalah,om      OM  17.0151  54.0924  HAMDAN PLAZA HOTEL SALALAH
368   plettenberg bay,za      ZA -34.0527  23.3716            Thanda Vista B&B
392          masingbi,sl      SL   8.7833 -11.9500
733          takoradi,gh      GH   4.8845  -1.7554  Raybow International Hotel
770           salalah,om      OM  17.0151  54.0924  HAMDAN PLAZA HOTEL SALALAH
798           siguiri,gn      GN  11.6667  -9.5000
858       saint-louis,sn      SN  16.3333 -15.0000
1241          salalah,om      OM  17.0151  54.0924  HAMDAN PLAZA HOTEL SALALAH

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))